# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Django
db.sqlite3
media/
/staticfiles/

# Virtual environments
venv/
.env/
.venv/
ENV/

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Misc
*.ps1
*-ExecutionPolicy*
